body, html{
    min-height: 100%;
    height: 100%;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

h3 {
    font-size: 11pt;
}

output {
    width: 50px;
    display: inline-block;
    font-size: 12px;
}

.main-panel {
    text-align: center;
    height: 100vh;
}

.interface {
    height: 95%;
    border-style: solid;
    margin-top: 10px;
}

.design-window {
    width: 90%;
    height: 500px;
    margin: 20px;
}

.design-body {
    height: auto;
    min-height: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100%;
  }

.pcp{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    /* background: red; */
}

.scatter{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background: blue;
}

.regions{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    background: purple;
}

.toggle{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    background: orange;
}

.mobobutton{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    background: green;
}

#param-sliders {
    margin: auto;
    align-items: center;
}


#regionslist option{
    width:50px;   
   }

#param-sliders {
    width: 100%; /* Width of the outside container */
    /* margin-left: auto !important;
    margin-right: auto !important; */
    margin: 0 auto;
  }
  
.slider {
    -webkit-appearance: none;
    width: 230px;
    height: 15px;
    border-radius: 3px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center;
    /* margin: 5px 5px 5px 5px; */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.button {
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 2px solid #5c5c5c;
    /* border: none; */
    /* color: white; */
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:disabled{
    background: rgb(172, 172, 172);
}

.prog-wrap * {
    font-family: arial, sans-serif;
    box-sizing: border-box;
}

.prog-wrap {
    position: relative;
    border: 1px solid #acb2d8;
    width: 300px;
    margin: 5px 5px 5px 5px;
}

.prog-wrap, .prog-bar, .prog-percent { height: 30px; }
  
.prog-bar, .prog-percent {
    position: absolute;
    top: 0; left: 0;
}
  
.prog-percent {
    display: flex;
    align-items: center; justify-content: center;
    width: 100%;
    z-index: 2;
}
  
.prog-bar {
    width: 0;
    background: #ced6ff;
    transition: width 0.5s;
}

label {
    display: inline-block;
    width: 230px;
    text-align: center;
    font-size: 12px;
    margin: 5px 5px 5px 5px;
  }

#region-tick-label, #range-tick-label {
    display: inline-block;
    width: 20px;
    text-align: center;
    font-size: 12px;
    margin: 5px 5px 5px 5px;
}

h2 {
    width: 230px;
    font-size: 16px;
    text-align: center;
    margin: 5px 5px 5px 5px;
}

#coverage-percent-heading, #use-of-mobo-percent-heading {
    width: 300px;
    font-size: 16px;
    text-align: center;
    margin: 5px 5px 5px 5px;
}

/* #finish-button{
    margin: auto;
    text-align: center;
} */

.tooltip {
    position: relative;
    display: inline-block;
}

/* .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    min-height: 30px;
    background-color: rgb(180, 180, 180);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
    padding: 5px 5px;
    font-size: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: black;

   
    position: absolute;
    top: 5px;
    z-index: 1;
} */


.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgb(180, 180, 180);
    color: black;
    text-align: center;
    /* border-radius: 10px; */
    padding: 5px 5px;
    position: absolute;
    font-size: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -105px;
    pointer-events: none;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0s linear 1s;
  }

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}


#record-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 11px;
}

#parameter-table-div {
    border-collapse: collapse;
    width: 50%;
    font-size: 11px;
    margin:auto;
}

#objective-table-div {
    border-collapse: collapse;
    width: 50%;
    font-size: 11px;
    margin:auto;
}

#record-table th {
    font-size: 11px;
    border-bottom: 1px solid #ddd;
    border-spacing: 0px; 
}

#record-table td {
    /* width: 100px; */
    /* border:1px solid black; */
    font-size: 11px;
    text-align: left;
    height: 15px;
    border-bottom: 1px solid #ddd;
    border-spacing: 0px; 
}

#parameter-table-div th {
    font-size: 11px;
    border-bottom: 1px solid #ddd;
    border-spacing: 0px; 
}

#parameter-table-div td {
    /* width: 100px; */
    /* border:1px solid black; */
    font-size: 11px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-spacing: 0px; 
    height: 15px;
}


#objective-table-div th {
    font-size: 11px;
    border-bottom: 1px solid #ddd;
    border-spacing: 0px; 
}

#objective-table-div td {
    /* width: 100px; */
    /* border:1px solid black; */
    font-size: 11px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-spacing: 0px; 
    height: 25px;
}

#record-data-heuristic {
    width: 10%;
}

#record-data-design {
    width: 20%;
}

#record-data-objective {
    width: 15%;
}

#record-data-note {
    width: 40%;
}

#record-data-buttons {
    width: 15%;
}

#record-show, #record-up, #record-down, #record-delete {
    background: transparent;
    border: none;
    outline: none;
    padding: 2px;
  }

#record-show img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

#record-delete img {
    width: 20px;
    height: 20px;
    object-fit: cover;
} 

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#countdown-timer {
    /* width: 100px; */
    display: inline;
    margin: auto;
    /* border: 3px; 
    border-style: solid; 
    border-color: black; 
    padding: 1em; */
}

#scatter-options {
    position: absolute;
    top: 30px;
    right: 70px;
    font-size: 10px;
}

#test-result-values {
    font-size: 12px;
}

#add-record-button {
    margin: auto;
}

#finish-parameters {
    margin: auto;
}